<div class="section-shell">
    <div class="content promo-surface grid-12 newsletter-box">
        <div class="col-full md-col-4 lg-col-5 newsletter-box__image promo-card__media">
            <img src="{{asset "images/woman-reading-emeil-newsletter.svg"}}" alt="Woman reading a weekly positivity newsletter email">
        </div>
        <div class="col-full md-col-8 lg-col-7 newsletter-box__copy-shell">
            <div class="newsletter-box__content">
                <h2>Sign up for updates</h2>
                <p class="body-l promo-card__text small">
                    I'll be sending you my best exclusive content, delivered weekly
                    to your inbox. Join thousands already getting the inside scoop.
                </p>
                <div class="newsletter-box__embed">
                    <iframe data-w-type="embedded" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://1php0.mjt.lu/wgt/1php0/0nyj/form?c=a5376dba"
                        width="100%" style="height: 0;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
