<div class="section-shell">
    <div class="content promo-surface grid-12 newsletter-box">
        <div class="col-full md-col-4 lg-col-5 newsletter-box__image promo-card__media">
            <img src="{{asset "images/woman-reading-emeil-newsletter.svg"}}" alt="Woman reading a weekly positivity newsletter email">
        </div>
        <div class="col-full md-col-8 lg-col-7 newsletter-box__copy-shell">
            <div class="newsletter-box__content">
                <h2>Sign up for updates</h2>
                <p class="body-l promo-card__text small">
                    I'll be sending you my best exclusive content, delivered weekly
                    to your inbox. Join thousands already getting the inside scoop.
                </p>
                <div class="newsletter-box__embed ml-subscribe-form ml-subscribe-form-39383671" data-mailerlite-wrapper data-mailerlite-context="inline">
                    <div class="row-form">
                        <form class="newsletter-form__content item-grow ml-block-form"
                              action="https://assets.mailerlite.com/jsonp/2241312/forms/183676980906952679/subscribe"
                              data-code=""
                              data-newsletter-form
                              data-mailerlite-form
                              method="post"
                              target="_blank">
                            <div class="grid-12 newsletter-form__row">
                                <div class="col-full md-col-8 lg-col-8 newsletter-form__field-wrap ml-form-fieldRow ml-last-item">
                                    <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                                        <label class="newsletter-form__field">
                                            <span class="field-label">Email</span>
                                            <input type="email"
                                                   name="fields[email]"
                                                   class="input"
                                                   placeholder="Your email address"
                                                   autocomplete="email"
                                                   aria-label="Email"
                                                   aria-required="true">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-full md-col-4 lg-col-4 newsletter-form__action">
                                    <div class="ml-form-embedSubmit">
                                        <button type="submit" class="btn btn--primary newsletter-form__button primary">
                                            Sign me up
                                        </button>
                                        <button disabled hidden type="button" class="btn btn--primary newsletter-form__button loading" aria-hidden="true">
                                            Joining...
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="newsletter-form__legal">
                                <p class="field-hint">You can unsubscribe anytime. For more details, review our <a href="{{@website.baseUrl}}privacy-policy/">Privacy Policy</a>.</p>
                            </div>
                            <div class="ml-form-checkboxRow newsletter-form__consent ml-validate-required">
                                <label class="checkbox">
                                    <input type="checkbox" data-newsletter-consent aria-label="Opt in to receive news and updates">
                                    <span class="label-description">Opt in to receive news and updates.</span>
                                </label>
                            </div>
                            <input type="hidden" name="ml-submit" value="1">
                            <input type="hidden" name="anticsrf" value="true">
                        </form>
                    </div>
                    <div class="ml-form-successBody row-success newsletter-form__state" hidden>
                        <span class="card-kicker">Subscribed</span>
                        <h3 class="headline-m">You're on the list</h3>
                        <p class="field-hint">Thanks for joining. Fresh notes and essays will land in your inbox soon.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
